<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<header th:fragment="header">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">Zezancija</a>
				</div>
				<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
					<li class="active"><a th:href="@{/}">Početna</a></li>
					<li><a th:href="@{/new}">Dodaj novi vic</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
					<li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
							Prijavi se</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
				<li class="active"><a>Dobrodošao, <span sec:authentication="name"></span></a> </li>
					<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>
							Odjava</a></li>
				</ul>
			</div>
		</nav>


	</header>

</body>
</html>