@charset "UTF-8";


tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

#content-column {
	white-space:pre-line;
}