<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="utf-8" />
<th:block th:include="fragments/header :: header-css"> </th:block>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

<div class="container">
       <div th:if="${not #lists.isEmpty(jokes)}">
        
        <div class="row">
	        <h2>Popis viceva</h2>
        </div>
		        
        <div class="table-container row" >
        <table class="table table-striped">
	        <thead class="thead-inverse">
	            <tr>
            		<th>#</th>
	                <th>Kategorija</th>
	                <th>Vic</th>
	                <th>Likes</th>
	                <th>Dislikes</th>
	                <th>Razlika</th>
	                <th></th>
	            </tr>
	      	</thead>
	      	<tbody>
	            <tr th:each="joke, iter : ${jokes}">
	                <td th:text="${iter.count + (jokes.number)*selectedPageSize}">Index</td>
	                <td th:text="${joke.category}">Category</td>
	                <td th:text="${joke.content}" id="content-column">Content</td>
	                <td th:text="${joke.likes}" class="likes" >Likes</td>
	                <td th:text="${joke.dislikes}" class="dislikes">Dislikes</td>
	                <td th:text="${joke.likes - joke.dislikes}" class="difference" >Diff</td>
	                <td><button type="button" class="btn btn-primary like-button" th:value="${joke.id}"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
	                <button type="button" class="btn btn-danger dislike-button" th:value="${joke.id}">  <span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></td>
	            </tr>
	      	</tbody>
        </table>
</div>

<div class="row">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>
			<div th:if="${jokes.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${jokes.number == 0} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
					</li>
					<li th:class="${jokes.number == 0} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${jokes.number})}">&larr;</a>
					</li>
					<li th:class="${jokes.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
					</li>
					<li th:class="${jokes.number + 1 == jokes.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${jokes.number + 2})}">&rarr;</a>
					</li>
					<li th:class="${jokes.number + 1 == jokes.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${jokes.totalPages})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>