<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dodaj novi vic</title>
<meta charset="utf-8" />
<th:block th:include="fragments/header :: header-css"> </th:block>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h2>Dodaj novi vic</h2>
		<br/>
		<form class="form-horizontal" th:object="${joke}" action="#" th:action="@{/addJoke}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="control-label col-sm-2">Sadržaj:</label>
				<div class="col-sm-10">
					<textarea rows="5" class="form-control" id="content"
						th:field="*{content}" placeholder="Enter content"></textarea>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('content')}" >
  							Sadržaj vica ne smije biti prazan!
						</div>
				</div>
				
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Kategorija:</label> 
				<div class="col-sm-10">
					<select class="form-control" th:field="*{category}">
						<option th:each="category : ${allCategories}" th:value="${category.id}"
							th:text="${category}">Wireframe</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-default" id="btn_submit">Spremi</button>
		</form>
	</div>
	<!-- /.container -->

</body>
</html>